:root {
    --turquoise: #2ad0ca;
    --canary: #e1f664;
    --lavender-rose: #feb0fe;
    --melrose: #abb3fc;
    --aquamarine: #5df7a4;
    --cornflower-blue: #6195ed;
    --gray: #4f4f4f;
}
html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: var(--gray);
}

body {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 30% 1fr;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}

section {
    margin: 0;
    min-width: 100px;
    height: 100vh;
    min-height: 300px;
    display: inline-block;
}

#personal-info {
    padding: 20px 30px;
    text-align: center;
    background: rgb(42, 208, 202);
    color: white;
    background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
    -webkit-print-color-adjust: exact;
}

#personal-info div:first-child img {
    min-width: 200px;
    max-width: 100%;
    border-radius: 50%;
    background: linear-gradient(
        135deg,
        var(--turquoise) 0%,
        var(--canary) 20%,
        var(--lavender-rose) 40%,
        var(--melrose) 60%,
        var(--aquamarine) 80%,
        var(--cornflower-blue) 100%
    );
    background-size: 400% 400%;
    animation-name: silver-effect;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
#personal-info p {
    text-align: justify;
    text-justify: inter-word;
}
#personal-info h2 {
    text-align: left;
    color: var(--gray);
    font-size: 20px;
}
#personal-info span {
    display: block;
}
#social-media img {
    /*https://codepen.io/sosuke/pen/Pjoqqp*/
    filter: invert(50%) sepia(95%) saturate(353%) hue-rotate(182deg) brightness(95%) contrast(95%);
}

/* working information  */
#working-info {
    padding: 30px 30px;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    overflow: scroll;
}
#working-info article h2 {
    color: var(--turquoise);
}
#working-info article span {
    align-items: justify;
}
#working-info article span:first-child b {
    font-weight: bold;
    color: var(--cornflower-blue);
}
#working-info article span:last-child {
    color: black;
    font-size: small;
}
.icon-social-network {
    width: 30px;
    height: 30px;
}

article p {
    color: var(--gray);
    display: flex;
    flex-direction: column;
}

#courses h3 {
    color: var(--aquamarine);
}

@keyframes silver-effect {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}
